/* CUSTOM CSS */

.header{
height:100px;
background:#3449595e;
padding:0 20px;
color: #C0C0C0;
}

.logo{
line-height:100px;
float: left;
text-transform:uppercase;
}
.menue{
float: right;
line-height: 100px;
}
 .menue a{
 color: #C0C0C0;
 text-transform: uppercase;
 text-decoration: none;
 padding: 0 10px;
 }
.show-menue-btn, hide-menue-btn
{
transition: 0.4s;
font-size:30px;
cursor: pointer;
display: none;
}
.show-menue-btn{
float: right;
}

.show-menue-btn i{
line-height:100px;
}

.menue a:hover,.show-menue-btn:hover,.hide-menue-btn:hover
{
color:#3498db;

}
#chk{
position: absolute;
visibility: hidden;
z-index: -1111;
}








body {
    background-image:url('/static/mypf/img/background1.jpg');
    background-repeat:no-repeat;
}

.margin{
    margin-top: 40px;
}

.home-brand{
    font-size: 1.5rem;
    text-transform: uppercase;
}

.nav-item{
    font-size: 1.5rem;
    text-transform: uppercase;
}

header.masthead {
    padding-top: calc(3rem + 10px);
    padding-bottom: 3rem;
}

hr.star-dark {
    border-color: #D433FF;
}

hr.star-dark, hr.star-light {
    max-width: 15rem;
    padding: 0;
    text-align: center;
    border: none;
    border-top: solid .25rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    margin-left: auto;
    margin-right: auto;
}

hr.star-dark:after {
    color: #2c3e50;
    background-color: #D433FF;
}

hr.star-dark:after, hr.star-light:after {
    position: relative;
    top: -.8em;
    display: inline-block;
    padding: 0 .25em;
    content: '\f005';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 2em;
}

label {
    color:#fff;
}

.pflink{
    background-color:#007bff;
    padding:5px;
    border-radius: 5px;
    vertical-align: middle;
}

.pflink:hover{
    background-color:#3858f5;
}

.pflink a{
    color: #fff;
    font-size: 22px;
    height: 100%;
    display: block;
}

.pflink a:hover{
    text-decoration: underline overline;
}

.about-1{
    background-color:#0070e1;
}
.about-2{
    background-color:#007bff;
}

.btn-cv{
    background-color: #007bff;
    color: #fff;
}

.btn-cv:hover{
    background-color:#0070e1;
    border:1px solid #fff;
    color: #fff;
}

.footer{
    padding-top: 3rem;
    padding-bottom: 3rem;
    /*background-color: #2c3e50;*/
    color: #D433FF;
}


@media (min-width: 992px){
    header.masthead {
        padding-top: calc(3rem + 20px);
        padding-bottom: 3rem;
    }
}
